.App {
  text-align: center;
  background-color: #0b3243;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #74929e;
}


.form-chart-container{
  display: flex;
}

.form-section{
  display: flex;
  flex-direction: column;
}
.chart-section{
  display: flex;
  flex-direction: column;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
