.App {
  text-align: center;
  background-color: #0b3243;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #74929e;
}


.form-chart-container{
  display: flex;
}

.form-section{
  display: flex;
  flex-direction: column;
}
.chart-section{
  display: flex;
  flex-direction: column;
}

.credit-account-table{
  width: 150vh;
  height: 50vh;
  border-radius: 5px;
  color: white;
  background-color: #74929e;
}

.balances-data{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:10px;
}

.balance-info{
  display: flex;
  flex-direction: row;
}
.balance-label{
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  color:black
}
.balance-title{
  color:black
}
